#expenses_home .home,
#create_category .create_category,
#create_expense .create,
#logged_out .logout,
#expenses_list .list{
  background:WhiteSmoke!important;
}

.error{
  display: none;
  margin-left: 10px;
}

.error_show{
  color: red;
  margin-left: 10px;
}

input.invalid{
  border: 2px solid red;
}

input.valid{
  border: 2px solid green;
}
