{% extends "expenses/base.html" %}

{% block content %}

<h1>Create a Category</h1>
<br/>
<body id="create_category">

<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <div class="form-group{% if form.category.errors %} has-error{% endif %}">
        <label for="id_description" class="col-sm-2 control-label">{{ form.description.label }}</label>
        <div class="col-sm-8">
            {{ form.description }}
            {% for error in form.description.errors %}
            <span class="has-error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Create
            </button>
        </div>
    </div>
</form>

</body>

{% endblock %}
