{% extends "expenses/base.html" %}

{% block content %}

<h1>Create Expense</h1>

<body id="create_expense">
<p class="lead">User: {{ user.username }}</p>

<form id="expense" class="form-horizontal" action="" method="post">{% csrf_token %}

    {% if form.non_field_errors %}
        <ul class="text-danger">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br/>

    <div class="form-group{% if form.category.errors %} has-error{% endif %}">
        <label for="id_category" class="col-sm-2 control-label">{{ form.category.label }}</label>
        <div class="col-sm-10">
            {{ form.category }}
            {{ form.category.help }}
            <span class="error">Category is required</span>
            {% for error in form.category.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.purchase_date.errors %} has-error{% endif %}">
        <label for="{{ form.purchase_date.id_for_purchase_date }}" class="col-sm-2 control-label">{{ form.purchase_date.label }}</label>
        <div class="col-sm-10">
            {{ form.purchase_date }}
            {{ form.purchase_date.help }}
            {% for error in form.purchase_date.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
        <label for="id_description" class="col-sm-2 control-label">{{ form.description.label }}</label>
        <div class="col-sm-10">
            {{ form.description }}
            {{ form.description.help }}
            <span class="error">Description is required</span>
            {% for error in form.description.errors %}
            <span class=" help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group{% if form.price.errors %} has-error{% endif %}">
        <label for="id_price" class="col-sm-2 control-label">{{ form.price.label }}</label>
        <div class="col-sm-10">
            <div class="input-group col-sm-offset-0">
                <div class="input-group-addon">£</div>
                {{ form.price }}
                {{ form.price.help }}
                <span class="error">Price is required, must be numeric and in range 0-99.99</span>
                {% for error in form.price.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input id="expense_submit" class="btn btn-primary disabled" type="submit" value="Create">
        </div>
    </div>
</form>

</body>

{% endblock %}
