{% extends "expenses/base.html" %}

{% block content %}
<h1>Expenses List</h1>

<body id="expenses_list">
{% if recent_expenses_list %}
    <table border=2 class="table table-condensed table-striped">
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Category</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
    {% for expense in recent_expenses_list %}
        <tr>
            <td>{{ expense.user }}</td>
            <td>{{ expense.purchase_date }}</td>
            <td>{{ expense.category }}
            <td>{{ expense.description }}</td>
            <td>{{ expense.price }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No expenses are available.</p>
{% endif %}
</body>
{% endblock %}
